
/*------- CSS reset for all browsers -------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*------------- Defaults -----------------*/

html, body {
  overflow-x: hidden;
}


/*------------ Navigation menu ------------*/

nav {
  position: relative;
}

nav li {
  display: inline;
}

nav li a {   
  float: left;
  border: 0;

  padding-top: 0.6em;
  padding-bottom: 0.5em;
  padding-left: 0em;
  padding-right: 0em;
  width: 16.66%;   /* NOTE: based on number of menu items */
  min-width: 7.5em;

  font-family: 'Eurostile W01 Regular', Helvetica;
  font-size: 1.3em;
  text-align: center;
}

/* iPads and smaller
*/
@media (max-device-width: 768px) {
  nav li a {
  padding-top: 1em;
  padding-bottom: 1em;
  }
}

/* iPhones and smaller
*/
@media (max-device-width: 640px) {
  nav li a {
    font-size: 2.6em;
    width: 33.33%;  /* NOTE: based on number of menu items */
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }
}

#current, nav li a:hover {
  text-decoration: none;
  color: #f6f6f6;
  background-color:#5F360A;
}

/*------------ General content ------------*/

.contentmargins {
  margin-left: 80px;
  margin-right: 80px;
}

.fullwidth {
  width: 100%;
}

.floating {
  float: left;
}

.logo {
  font-family: 'Eurostile W01 Bold', Helvetica;
  font-size: 8em;
}

.tagline {
  font-family: 'Eurostile W01 Regular', Helvetica;
  font-weight: normal;
  font-size: 3em;
}

/* iPhones and smaller
*/
@media (max-device-width: 640px) {
  .tagline {
    font-size: 3.3em;
  }
}

.largecopy {
  font-family: 'Eurostile W01 Regular', Helvetica;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.2em;
}

/* iPhones and smaller
*/
@media (max-device-width: 640px) {
  .largecopy {
    font-size: 2.8em;
  }
}

.copy {
  font-family: 'Roboto Slab', Arial;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.4em;
}

/* iPhones and smaller
*/
@media (max-device-width: 640px) {
  .copy {
    font-size: 2.2em;
  }
}

.smallcopy {
  font-family: 'Roboto Slab', Arial;
  font-weight: normal;
  font-size: 0.7em;
}

/* iPhones and smaller
*/
@media (max-device-width: 640px) {
  .smallcopy {
/*    font-size: 1em; */
  }
}

.copycolor {
  color:#444444;
}

.logocolor {
  color:#5C360E;
}

.logobackgroundcolor {
  background-color:#5C360E;
}

.featuredbackgroundcolor {
  background-color:#D9F1F8;
}

.accentbackgoundcolor {
  background-color:#DDDDDD;
}

.softcolor {
  color:#F4F4F4;
}

.softbackgroundcolor {
  background-color:#F4F4F4;
}

.bannerforegroundcolor {
  color: #FFFFFF;
}

.bannerbackgroundcolor {
  background-color:#0091CE;
}

.bannertext {
  line-height: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 0.4em;
}

.clearbackgroundcolor {
  background-color:#FFFFFF;
}

a {
  text-decoration: none;
  color: #007CC6;
}

a:hover {
  text-decoration: underline;
}

/*-------------- Code blocks --------------*/

pre {
  font-family: Menlo, Consolas, Monaco, "Liberation Mono", Courier, monospace;
  font-size: 1em;
  line-height: 1.6;
  overflow: hidden;
  color: #333333;
  background-color: #F4F4F4;
  border: 0;
/* 
  padding: 6px 10px;
 */
}

.nocodebox {
  background-color: inherit;
  border: none;
}

/*-------------- Shared between pages --------------*/

.featured {
  float: left;
}

.featured .logo {
  margin-left: -0.05em; /* Adjust for kerning to align flush left */
  margin-top: -0.25em;   /* Adjust for kerning(?) to align flush top */
  margin-bottom: -0.1em;
}


/* iPads and smaller
*/
@media (max-device-width: 768px) {
  .featured .logo {
    margin-top: -0.25em;   /* Adjust for kerning(?) to align flush top */
    margin-bottom: -0.1em;
  }
}


.featured .tagline {
  margin-left: -0.04em; /* Adjust for kerning to align flush left */
}

.featured .largecopy {
  position: relative;
}

.featured .copy {
  position: relative;
}

.featured pre {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  padding-left: 1em;
  font-size: 0.9em;
}

/*-------------- Footer --------------*/

#copyright {
  color: #DFDFDF;
  padding-top: 1em;
  padding-bottom: 1em;
}


/*-------------- Home --------------*/

.banner {
  position: relative;
  margin-top: 1.5em;
}

.banner a {
  text-decoration: none;
}

.banner div:hover {
  text-decoration: none;
  background-color: #0071AE;
}

#intro_area {
  margin-top: 2.5em;
}

#intro {
  float: inherit;
  width: 25em;
  margin-right: 2em;
  margin-bottom: 1.5em;
}


/* iPhones and smaller
*/
@media (max-device-width: 640px) {
  #intro {
    width: 100%;
  }
}

#intro .largecopy {
  margin-top: 1.25em;
}

#download {
  clear: both;
  text-align: center;
  font-size: 0.8em;
  width: 30%;
  margin-bottom: 2em;
}

#facts {
  float: inherit;
  padding-top: 2em;
  padding-bottom: 2em;
}

#facts span {
  font-family: 'Eurostile W01 Bold', Helvetica;
}

#dfquote {
  margin-top: 1em;
  font-style: italic;
  font-size: 0.9em;
}

.benefits {
  position: relative;
  float: inherit;
  padding-bottom: 2em;
  min-height: 40em;
}

.benefit {
  float: inherit;
  margin-top: 1.5em;
  margin-right: 1.5em;
  width: 30%;
  min-width: 15em;
  min-height: 9em;
}

.benefit pre {
  display: inline;
  font-size: 0.9em;
}

/* iPhones and smaller
*/
@media (max-device-width: 640px) {
  .benefit {
    width: 100%;
  }
}


.benefit .copy {
  margin-top: 0.8em;
}

.benefit span {
  font-family: 'Eurostile W01 Bold', Helvetica;
}

#helloworld {
  float: inherit;
  margin-bottom: 2em;

  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 3em;

  width: auto;
  height: auto;

  border: 1px;
  border-style: solid;
  border-color: #D6D6D6;

  box-shadow: 10px 10px 5px #888;
}

#helloworld pre {
  line-height: 1.5;
}

/* iPhones and smaller
*/
@media (max-device-width: 640px) {
  #helloworld pre {
    font-size: 1.5em;
    width: 100%;
  }
}


/*-------------- Documentation --------------*/

h1 {
  font-family: 'Eurostile W01 Regular', Helvetica;
  font-weight: bold;
  font-size: 1.6em;
  line-height: 1.2em;
  color:#5C360E;
}

h2 {
  font-family: 'Eurostile W01 Regular', Helvetica;
  font-weight: normal;
  font-size: 1.6em;
  line-height: 1.2em;
  color:#5C360E;
}

h3 {
  font-family: Arial;
  font-weight: bold;
  font-size: 1.1em;
  color:#444444;
}

h4 {
  font-family: Arial;
  font-weight: normal;
  font-size: 1.1em;
}

p {
  font-family: Arial;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 1.4em;
  margin-bottom: 1em;
  color: #333;
}

em { 
  font-style: italic;
}

p strong { 
  font-weight: bold;
}

#documentation {
  position: relative;
  margin-top: 2em;
  padding-bottom: 2em;
}

#documentation h2 {
  margin-top: 2em;
  margin-bottom: 1em;
}

#documentation h3 {
  margin-top: 2em;
  margin-bottom: 1em;
}

#documentation pre {
  overflow: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 3em;
}

#documentation ul {
  list-style-position: outside;
  list-style-type: disc;
  font-family: Arial, Helvetica;
  margin-left: 1em;
}

#documentation table {
  border: 1px;
  border-style: solid;
  border-color: #D6D6D6;
  font-family: Arial, Helvetica;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1.2em;
  color: #444444;
  margin-bottom: 2em;
}

#documentation th, td, tr {
  border: 1px;
  border-style: solid;
  border-color: #D6D6D6;
  padding: 0.5em 0.75em;
}

#documentation tr:nth-child(2n) {
  background-color: #f8f8f8;
}

#documentation table strong {
  font-weight: bold;
}

#documentation table .centered-cell {
  text-align:center;
}

#documentation table code {
  font-family: Menlo, Consolas, Monaco, "Liberation Mono", Courier, monospace;
  font-size: 0.8em;
}

#documentation #toc h1 {
    font-weight: normal;
}

#documentation #toc h2 {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

#documentation #toc h3 {
  font-size: 0.9em;
  font-weight:lighter;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  padding-top: 0.1em;  
  padding-bottom: 0.2em;  
}


/* iPhones and smaller
*/
@media (max-device-width: 640px) {
  #documentation {
    font-size: 2.5em;
  }
}

/* iPhones and smaller
*/
@media (max-device-width: 640px) {
  #documentation #toc h3 {
    letter-spacing: 0;
  }
}

/*-------------- GitHub --------------*/

#github_intro {
  padding-top: 2em;
  padding-bottom: 2em;
}

#github_links {
  padding-top: 2em;
  padding-bottom: 2em;
  min-height: 60em;
}

#github_links ul {
  list-style-type: disc;
  list-style-position: inside;
  color: #007CC6;
}

/*-------------- Contact --------------*/

.contact_link {
  float: inherit;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 12em;
}

/* iPhones and smaller
*/
@media (max-device-width: 640px) {
  .contact_link {
    width: 50%;
  }
}

#about {
  position: inherit;
  float: inherit;
  padding-bottom: 2em;
}

#saarinen {
  float: inherit;
  margin-top: 1.5em;
  padding-right: 3em;
  width: 40%;
  min-width: 24em;
}

#furniture {
  float: inherit;
  margin-top: 1.5em;
  width: 24em;
}

/* iPhones and smaller
*/
@media (max-device-width: 640px) {
  #saarinen {
    width: 100%;
    min-width: 0;
  }
  #furniture {
    width: 100%;
  }
}

#furniture img {
  display: block;
  width: 100%;
}

#furniture figcaption {
  padding-top: 0.75em;
  font-family: 'Eurostile W01 Regular', Helvetica;
  text-align: right;
}

#about_me {
  float: inherit;
  width: 24em;
  min-width: 24em;
  width: 40%;
  margin-top: 2em;
  margin-bottom: 2em;
  min-height: 40em;
}

#my_pic {
  float: inherit;
  margin-top: 1.5em;
  width: 24em;
  margin-bottom: 2em;
  padding-right: 3em;
}

/* iPhones and smaller
*/
@media (max-device-width: 640px) {
  #about_me {
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
  #my_pic {
    width: 100%;
  }
}

#my_pic img {
  display: block;
  width: 100%;
}

#we_live {
  padding-top: 1em;
}

/*-------------- Code sample --------------*/


/* 
#side_by_side_code {
  position: relative;
  left: 40px;
  right: 40px;
  width: auto;
}
 */

#objc_sample {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

#eero_sample {
  margin-top: 2em;
  margin-bottom: 3em;
}

.code_sample {
}
 
pre.code_sample {
  border: 1px;
  border-style: solid;
  border-color: #D6D6D6;
  line-height: 1.3em;
  padding: 2em;
  padding-bottom: 1em;
  box-shadow: 10px 10px 5px #888;
}

/* iPhones and smaller
*/
@media (max-device-width: 640px) {
  pre.code_sample  {
    overflow: auto;
  }
}

/*-------------- Features --------------*/

.features {
  position: inherit;
  float: left;
  padding-bottom: 2em;
}

.feature {
  float: inherit;
  margin-top: 1.5em;
  margin-right: 1.5em;
  width: 24em;
/*  min-width: 45%; */
  min-height: 9em;
}

.bulletedfeature {
  min-height: 11.2em;
}

/* iPhones and smaller
*/
@media (max-device-width: 640px) {
  .feature {
    width: 100%;
  }
}

.feature .copy {
  margin-top: 0.8em;
  line-height: 1.4em;
}

.feature span {
  font-family: 'Eurostile W01 Bold', Helvetica;
}

.feature ul {
  list-style-type: disc;
  margin-left: 0.9em;
}

.feature pre {
  display: inline;
}

#mainfeatures {
  min-height: 40em;
}

#features_banner {
  position: relative;
  margin-top: 1.5em;
}

#whatiseero {
  padding-top: 1em;
}






