
body {
  padding-bottom: 2em;
  overflow-x: hidden;
}

#main {
  position: relative;
  top: 1em;
  width: 98%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: inherit;

  background-color: #f6f6f6;

  border: 0.1em;
  border-radius: 0.5em;
  border-style: solid;
  border-color: #D6D6D6;
}

#header {
  position: relative;
  top: 0;
  left: 0;
  height: 6.5em;
  padding-top: 0.5em;
  background-color: #FFFFFF;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

#header h0 {
  padding-left: 0.2em;
}

nav {
  position: absolute;
  top: -1.0em;
  right: 0;
}

nav li {
  display: inline;
}

nav li a {   
  float: left;
  background-color: #f6f6f6;

  border: 0.1em;
  border-right: 0;
  border-color: #D6D6D6;
  border-style: solid;

  margin-top: -0.1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0em;
  padding-right: 0em;
  width: 10em;

  font-family: Eurostile, 'Eurostile W01 Regular', Helvetica;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
  color: #444444;
}

.navrounded {
  border-top-right-radius: 0.5em;
}

.navsquare {
}


#current, nav li a:hover {
  color: #f6f6f6;
  background-color:#444444;
  border-color: #444444;
}


h0 {
  font-family: Eurostile, 'Eurostile W01 Regular', Helvetica;
  font-weight: normal;
  font-size: 8em;
  color:#5C360E;
  margin-top: inherit;
  padding-top: inherit;
}

h1 {
  font-family: Eurostile, 'Eurostile W01 Regular', Helvetica;
  font-weight: bold;
  font-size: 2em;
  color:#5C360E;
}

h2 {
  font-family: Eurostile, 'Eurostile W01 Regular', Helvetica;
  font-weight: normal;
  font-size: 1.6em;
  color:#5C360E;
  margin-top: 1em;
}

h3 {
  font-family: Arial;
  font-weight: bold;
  font-size: 1em;
  color:#444444;
}

#welcome {
  position: absolute;
  top: 0.4em;
  padding-left: 0.4em;
  font-family: Eurostile, 'Eurostile W01 Regular', Helvetica;
  font-weight: normal;
  font-size: 1.6em;
  color: #444444;
}

#evolved {
  position: absolute;
  top: 1.5em;
  left: 6.5em;
  font-family: Eurostile, 'Eurostile W01 Regular', Helvetica;
  font-weight: normal;
  font-size: 3em;
  color: #333333;
}

#left, #wide_left, #right {
  position: relative;  
  top: 1em;
  bottom: 2em;
  padding-bottom: inherit;
  min-height: 65em;

  border: inherit;
  border-radius: 0.5em;
  border-color: inherit;
  border-style: inherit;
}

#left, #wide_left {
  left: 2%;
  width: 65%;
  background-color: #FFFFFF;
}

#wide_left {
  width: 96%;
  height: auto;
  margin-bottom: 1em;
}

#right {
  float: right;
  right: 2%;
  width: 29%;
  background-color: #EBEBEB;
}

#coming_soon {
  position: absolute;
  float: right;
  right: 2%;
  width: 24%;
  height: 3.75em;
  top: 2.7em;
  font-family: Eurostile, 'Eurostile W01 Regular', Helvetica;
  font-weight: normal;
  font-size: 1em;
  color: #f6f6f6;
  background: #ff8000;
  border: 0.1em;
  border-radius: 0.5em;
  border-color: ff8000;
  border-style: inherit;
}

#coming_soon span {
    font-weight: bold;
}

#coming_soon table{
  vertical-align: middle;
  width: 100%;
  height: 100%;
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;
  border-bottom-style: hidden;
}

#coming_soon td {
  text-align: center;
  vertical-align: middle;
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;
}

#coming_soon tr {
  text-align: center;
  vertical-align: middle;
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;
}

.content, .toc {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 0;
  padding-left: 1em;
  padding-right: 1em;
  font-family: Arial;
  font-weight: normal;
  font-size: 0.9em;
  color: #444444;
}

.content a {
  text-decoration: none;
/*  color: #33A8E5;*/
  color: #007CC6;
}

.content a:hover {
  text-decoration: underline;
}

.toc {
  font-size: 75%;
}

.toc a {
  text-decoration: none;
  color: #007CC6;
}

.toc a:hover {
  text-decoration: underline;
}

.bullets {
  font-size: 1.2em;
  line-height:200%
}

pre {
  font-family: Menlo, Consolas, Monaco, "Liberation Mono", Courier, monospace;
  font-size: 0.8em;
  line-height: 1.6;
  overflow: hidden;
  color: #333;
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  padding: 6px 10px;
  border-radius: 3px;
}

.nocodebox {
  background-color: inherit;
  border: none;
}

table {
  border: 0.1em;
  border-style: solid;
  border-color: #D6D6D6;
}

th, td, tr {
  border: 0.1em;
  border-style: solid;
  border-color: #D6D6D6;
  padding: 0.5em 0.75em;
}

tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.centered-cell {
  text-align:center;
}

#furniture {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}

#furniture img {
  width: 100%;
  display: block;
}

#furniture figcaption {
  padding-top: 0.75em;
  font-family: Eurostile, 'Eurostile W01 Regular', Helvetica;
  text-align: right;
}


#copyright {
  position: relative;
  bottom: -3.0em;
  left: 2.5%;
  font-family: Arial;
  font-size: 0.7em;
  color:#5C360E;
}

