<nav>
  <ul>
    {% for iPage in site.pages %}
      {% assign index = forloop.index %}
      {% assign isLast = forloop.last %}
      {% for jPage in site.pages %}
        {% if jPage.position == index %}
          {% if isLast %}
            {% assign class = "navrounded" %}
          {% else %}
            {% assign class = "navsquare" %}
          {% endif %}
          {% if jPage.url == page.url %}
            <li><a href="{{jPage.url}}" id="current" class="{{class}}">{{jPage.short-title}}</a></li>
          {% else %}
            <li><a href="{{jPage.url}}" class="{{class}}">{{jPage.short-title}}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}  
    {% endfor %}  
  </ul>
</nav>
